@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');

 body{  
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}
.parent{
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.parent button{
  color: white;
}

.card:hover{
  color: white;
  background: #0d6efd;
}

.sidebar{
  height: 100vh;
}

.notActiveTab{
  color: black !important;
}


.parent{
  height: fit-content;
  display: flex;
  align-items: stretch;
  /* flex-wrap: wrap; */
}
.link{
  text-decoration: none;
  color: white;
  font-size: medium;
  display: block;
  text-align: start;
}

.dashboard{
  /* background-image: url('../src/images/logo.jpeg');
  background-repeat: no-repeat;
  background-size: contain; */
}

/* .sidebar button{
  background: #0d6efd;
} */

.sidebar .active{
  background-color: #0d6efd;
}

.link:hover{
  background-color: #0d6efd;
}

.navButton:hover{
  background-color: #0d6efd;
}

.link2{
  text-decoration: none;
  color: black;
  font-size: medium;
  display: block;
  text-align: start;
}

.sideBarSelect{
  background:'#212529';
  color:'white';
  border:'none';
  width:'100%'
}

table tr {
  display: table-row;
 
}

.small{
  font-size: small !important;
}

.p-13{
  padding-top: 13px !important;
}

table td {
  /* font-size: larger; */
}

.total{
  color: #bb0000
}
